<!DOCTYPE html>
    <head>
        <% include head %>
        <title>Pet Basket Profile</title>

    </head>
    <body>
    <% include navbar %>
     <main>
        <div class="container">
                <div class="row">
                    <% include sideNav %>
                     <div class="col s8 account-update-box">
                        <% uploadResults.map((uploads)=>{ %>
                            
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="images/listings/<%= uploads.img_url %>">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><%= uploads.name_upload %>
                                    <i class="material-icons right">more_vert</i>
                                </span>
                                <p><%= uploads.catBreed %></p>
                                <p><%= uploads.dogBreed %></p>
                                <p><a href="/editListings/<%= uploads.id %>">Edit Posts</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><%= uploads.name_upload %>
                                    <i class="material-icons right">close</i>
                                </span>
                                <p><%= uploads.description %></p>
                            </div>
                        </div>
                    <% }) %> 
                    </div>   
                </div>
			</div>
	    </main>
        <% include footer %>
    </body>
</html>