<!DOCTYPE html>

    <head>
        <% include head %>
        <title>Log In</title>

    </head>
    <body>
    <% include navbar %>
     <main>
		<div class="container">
			<div class="row top-content">
				<div class="col s12">
					<h3>Meet
						<%=name%>
					</h3>
				</div>
			</div>
			<div class="row card">
				<div class="row top-content">
					<div class="col s4 center-align">
						<img src="<%=photo%>" width="300px" height="300px" class="hoverable">
						<a href="/favorites/<%= id %>" class="btn waves-effect waves-light pulse">Favorite</a>
					</div>
					<div class="col s6 description flex-text">
						<h5>About</h5>
						<%=description%>
					</div>
				</div>
			</div>
			<div class="row card">
				<div class="row card teal info center-align">
					<div class="col s2">
						<h6>Breed</h6>
					</div>
					<div class="col s2">
						<h6>Age</h6>
					</div>
					<div class="col s2">
						<h6>Gender</h6>
					</div>
					<div class="col s2">
						<h6>Owner</h6>
					</div>
					<div class="col s2">
						<h6>Contact</h6>
					</div>
				</div>
			<!-- <div class="divider"></div> -->
			<div class="row">
				<div class="info center-align">
					<div class="col s2">
						<%=breed%>
					</div>
					<div class="col s2">
						<%=age%>
					</div>
					<div class="col s2">
						<%=sex%>
					</div>
					<div class="col s2">
						<%=contactName%>
					</div>
					<div class="col s2">
						<%=contactInfo%>
					</div>
				</div>
			</div>
			</div>
		</div>
	</main>
    <% include footer %>
    </body>
</html>